# Preprocesado y selección de los datos

In [22]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

- el dataset cuenta con una fecha, el texto preprocesado, su reduccion dimensional UMAP, el numero de palabras de cada sueño y 8 emociones basicas asociadas (tambien si es positivo o negativo)

In [23]:

raw_df = pd.read_csv("../data/raw/dreams_syuzhet_df.csv",index_col=0).dropna()
raw_df = raw_df.reset_index(drop=True)
raw_df

,dreamer,description,number,date,content,text_cleaned,Z1,Z2,nb_words,anger,anticipation,disgust,fear,joy,sadness,surprise,trust,negative,positive
0,alta,Alta: a detailed dreamer,1,1957,"The one at the Meads's house, where it's bigge...",one mead house big inside european village ins...,14.818585,11.913500,174,1,2,0,1,1,2,1,3,2,6
1,alta,Alta: a detailed dreamer,2,8/11/67,I'm at a family reunion in a large fine house ...,family reunion large fine house ground maybe r...,14.774185,12.026687,261,1,4,3,2,1,5,0,5,5,7
2,alta,Alta: a detailed dreamer,3,8/1/85,I watch a plane fly past and shortly realize i...,watch plane fly past shortly realize low crash...,14.487709,12.045825,335,3,8,2,6,1,6,3,6,9,7
3,alta,Alta: a detailed dreamer,4,1985,Me pulling the green leaves and berries off so...,pull green leaf berry branch bush live one gro...,14.803592,11.984078,485,7,5,4,8,7,9,4,10,16,15
4,alta,Alta: a detailed dreamer,5,1985,I'm in a room that reminds me of (but definite...,room remind definitely living room house stree...,14.916678,12.033846,578,3,8,3,4,8,4,4,9,8,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19199,west_coast_teens,West Coast teenage girls,85,"F, age 18",The dream was about me and my boyfriend going ...,dream boyfriend go camp go yosemite somewhere ...,10.953306,10.031852,138,0,8,1,1,4,2,2,4,3,5
19200,west_coast_teens,West Coast teenage girls,86,"F, age 18",Two weeks ago this guy asked me to Senior Ball...,two week ago guy ask senior ball say yes felt ...,7.829383,11.032257,98,0,1,0,0,2,1,1,2,0,2
19201,west_coast_teens,West Coast teenage girls,87,"F, age 18",My boyfriend just broke up with me so he was o...,boyfriend break mind normal day school except ...,9.898287,11.356088,143,1,1,1,2,1,3,1,3,3,3
19202,west_coast_teens,West Coast teenage girls,88,"F, age 18",I was in my backyard and I was flying. I would...,backyard fly would flap arm really fast would ...,11.122371,9.897208,105,2,5,1,2,4,1,3,4,3,6
19203,west_coast_teens,West Coast teenage girls,89,"F, age 18",I felt scared. I was pregnant in my dream. The...,felt scar pregnant dream dream jump boyfriend ...,10.900180,11.112919,94,1,3,1,2,3,4,0,4,3,4

# Sacamos los sueños por franjas educativas (high school, college, middle ages / adult 40s) categorias 0, 1, 2

In [24]:
high_df = raw_df[raw_df['description'].str.contains('(?i)high school')].copy()
high_df["target"] = 0
high_df

,dreamer,description,number,date,content,text_cleaned,Z1,Z2,nb_words,anger,anticipation,disgust,fear,joy,sadness,surprise,trust,negative,positive,target
4622,bea1,Bea 1: a high school student,1,07/07/2003 (age 14),I am on a trip to Italy with a lot of my frien...,trip italy lot friend family thoroughly frustr...,8.787896,9.483524,231,2,2,0,1,2,3,1,1,6,5,0
4623,bea1,Bea 1: a high school student,2,07/08/2003 (age 14),I'm in this elevator with Nick and Aidan. We a...,elevator nick aidan main building reason take ...,10.583324,6.508417,154,1,0,1,1,0,2,2,2,2,5,0
4624,bea1,Bea 1: a high school student,3,07/09/2003 (age 14),I dreamed that there was this war happening an...,dream war happen much involve war class would ...,5.910734,11.883272,202,4,0,0,5,3,2,2,4,6,6,0
4625,bea1,Bea 1: a high school student,4,07/10/2003 (age 14),I dreamed that I was on this train. In each di...,dream train different car different song play ...,10.629296,6.561437,410,7,4,5,3,4,4,2,6,10,5,0
4626,bea1,Bea 1: a high school student,5,07/11/2003 (age 14),So I dreamed that it was May again and everyon...,dream may everyone play assassin usual whole s...,10.569590,6.599382,560,5,2,4,6,3,5,2,6,8,13,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13317,madeline1-hs,Madeline 1: High School,123,HS:08/28/00,"I arrived in a sort of historical park, having...",arrive sort historical park come train perhaps...,12.689909,11.956656,128,2,0,2,4,1,3,0,0,3,4,0
13318,madeline1-hs,Madeline 1: High School,124,HS:08/30/00,My best friend Emma and some of her friends ca...,best friend emma friend come pick campus large...,9.074188,5.356049,167,0,3,0,1,2,3,0,3,3,5,0
13319,madeline1-hs,Madeline 1: High School,125,HS:09/09/00,Dreamt about my new boyfriend Jeremy. It seem...,dreamt new boyfriend jeremy seem like toy u cl...,4.549186,8.664301,95,0,1,0,0,1,2,1,1,2,1,0
13320,madeline1-hs,Madeline 1: High School,126,HS:09/10/00,Last night I had a dream from which I awoke wi...,last night dream awake sore right bicep dream ...,10.082902,10.820841,122,2,1,0,1,1,2,0,3,3,5,0
13321,madeline1-hs,Madeline 1: High School,127,HS:09/14/00,I dreamt of waking up at 9:30 in the morning w...,dreamt wake morning boyfriend jeremy arm still...,15.904028,8.188604,40,0,0,0,0,0,0,0,0,0,0,0

In [25]:
college_df = raw_df[raw_df['description'].str.contains('(?i)a college student|college women')].copy()
college_df["target"] = 1
college_df = college_df.iloc[:588,:]
college_df

,dreamer,description,number,date,content,text_cleaned,Z1,Z2,nb_words,anger,anticipation,disgust,fear,joy,sadness,surprise,trust,negative,positive,target
4845,bea2,Bea 2: a college student,1,01/21/2007,Last night I dreamed that I was back at school...,last night dream back school combination high ...,7.970283,11.219414,84,0,0,0,1,0,1,0,1,1,1,1
4846,bea2,Bea 2: a college student,2,04/06/2007,Last night I dreamed that I was in the gym and...,last night dream gym really anxious check mail...,9.287941,11.422086,82,0,4,0,1,2,0,1,2,1,5,1
4847,bea2,Bea 2: a college student,3,05/26/2007,I had a dream that I was at the Caan dining ha...,dream caan din hall actually high school din h...,7.937563,11.177609,76,1,0,1,0,0,1,0,0,1,0,1
4848,bea2,Bea 2: a college student,4,05/27/2007,I had a dream that I was a senior at my high s...,dream senior high school newsom ben lee sue ev...,10.772547,6.728639,139,2,1,0,1,2,2,2,3,3,3,1
4849,bea2,Bea 2: a college student,5,05/30/2007,Last night I dreamed I was holding Fluffy and ...,last night dream hold fluffy sort thing inside...,7.917878,11.428453,134,0,3,0,2,2,0,1,3,1,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10101,hall_female,"College women, late 1940s",521,"Code 071, Age 20, 11/08/47",My dream was an exact reproduction of the morn...,dream exact reproduction morning spent work da...,1.382366,7.165748,182,3,4,3,3,3,4,4,4,7,7,1
10102,hall_female,"College women, late 1940s",522,"Code 071, Age 20, 11/01/47",I dreamed about a wedding. I wore a white sati...,dream wed wore white satin gown remember see w...,1.534076,7.343551,106,1,5,1,1,6,1,2,6,3,8,1
10103,hall_female,"College women, late 1940s",523,"Code 071, Age 20, 11/20/47",I was at work in my lab. I had connected all t...,work lab connect electrode patient brain wave ...,1.379914,7.249624,194,2,4,3,4,1,5,3,1,7,4,1
10104,hall_female,"College women, late 1940s",524,"Code 071, Age 20, 11/22/47",My mother and I were walking on E1-- St. betwe...,mother walk st many small shop street sell mil...,1.441604,7.274252,228,0,4,2,2,3,4,3,4,6,4,1
10105,hall_female,"College women, late 1940s",525,"Code 071, Age 20, 11/23/47",I was in a shoe store. There were some empty s...,shoe store empty seat sit instead walk near re...,1.466154,7.393177,269,1,4,1,1,3,1,0,5,4,7,1

In [26]:
adult_df = raw_df[raw_df['description'].str.contains('(?i)middle-aged|Elizabeth')].copy()
adult_df["target"] = 2
adult_df = adult_df.iloc[:588,:]
adult_df

,dreamer,description,number,date,content,text_cleaned,Z1,Z2,nb_words,anger,anticipation,disgust,fear,joy,sadness,surprise,trust,negative,positive,target
469,arlie,Arlie: a middle-aged woman,1,10/14/92,I am in an office in the town next to the town...,office town next town grow everyone take rest ...,8.888524,9.923136,50,0,0,1,0,0,0,0,0,1,1,2
470,arlie,Arlie: a middle-aged woman,2,10/18/92,Something about black spiders in feces.,something black spider feces,8.941871,9.689537,6,0,0,1,0,0,1,0,0,2,0,2
471,arlie,Arlie: a middle-aged woman,3,10/19/92,Garbage men are on strike so they are using a ...,garbage men strike use pickup truck store town...,11.585903,9.111846,47,1,1,1,0,0,0,0,1,3,2,2
472,arlie,Arlie: a middle-aged woman,4,10/21/92,I am in court and get sentenced to a year in j...,court get sentence year jail sister law cerebr...,8.649665,11.822554,73,2,2,2,4,3,3,1,4,3,4,2
473,arlie,Arlie: a middle-aged woman,5,10/21/92,I left my purse at the bottom of the stairs an...,left purse bottom stairs someone stole bill le...,9.409086,13.475026,27,0,0,0,0,0,1,0,0,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6884,elizabeth,Elizabeth: a woman in her 40s,372,2002-02-08,Extremely sexual. I had a lot of mixed emotion...,extremely sexual lot mixed emotion sadness dis...,12.718452,13.458303,14,0,3,0,0,2,1,2,2,2,2,2
6885,elizabeth,Elizabeth: a woman in her 40s,373,2002-02-09,"I saw Bev. She had lost 120 pounds, which woul...",saw bev lose pound would make maybe pound look...,11.767289,13.372503,32,0,1,0,0,1,1,1,1,1,1,2
6886,elizabeth,Elizabeth: a woman in her 40s,374,2002-02-13,I was at Kings Island with Daddy and three oth...,king island daddy three family member know thr...,13.936172,13.681853,452,2,7,2,2,4,5,4,5,11,6,2
6887,elizabeth,Elizabeth: a woman in her 40s,375,2002-02-14,I was asleep but experiencing extreme periodic...,asleep experience extreme periodic limb moveme...,14.000193,13.738955,1140,4,18,4,11,13,15,7,19,15,30,2
6888,elizabeth,Elizabeth: a woman in her 40s,376,2002-02-16,I was in the garage of a house. I went outside...,garage house go outside look address figure sa...,13.716951,13.366304,1336,7,9,6,8,7,11,2,11,17,25,2

In [27]:
all_df = pd.concat([high_df,college_df,adult_df],ignore_index=True)
all_df

,dreamer,description,number,date,content,text_cleaned,Z1,Z2,nb_words,anger,anticipation,disgust,fear,joy,sadness,surprise,trust,negative,positive,target
0,bea1,Bea 1: a high school student,1,07/07/2003 (age 14),I am on a trip to Italy with a lot of my frien...,trip italy lot friend family thoroughly frustr...,8.787896,9.483524,231,2,2,0,1,2,3,1,1,6,5,0
1,bea1,Bea 1: a high school student,2,07/08/2003 (age 14),I'm in this elevator with Nick and Aidan. We a...,elevator nick aidan main building reason take ...,10.583324,6.508417,154,1,0,1,1,0,2,2,2,2,5,0
2,bea1,Bea 1: a high school student,3,07/09/2003 (age 14),I dreamed that there was this war happening an...,dream war happen much involve war class would ...,5.910734,11.883272,202,4,0,0,5,3,2,2,4,6,6,0
3,bea1,Bea 1: a high school student,4,07/10/2003 (age 14),I dreamed that I was on this train. In each di...,dream train different car different song play ...,10.629296,6.561437,410,7,4,5,3,4,4,2,6,10,5,0
4,bea1,Bea 1: a high school student,5,07/11/2003 (age 14),So I dreamed that it was May again and everyon...,dream may everyone play assassin usual whole s...,10.569590,6.599382,560,5,2,4,6,3,5,2,6,8,13,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1759,elizabeth,Elizabeth: a woman in her 40s,372,2002-02-08,Extremely sexual. I had a lot of mixed emotion...,extremely sexual lot mixed emotion sadness dis...,12.718452,13.458303,14,0,3,0,0,2,1,2,2,2,2,2
1760,elizabeth,Elizabeth: a woman in her 40s,373,2002-02-09,"I saw Bev. She had lost 120 pounds, which woul...",saw bev lose pound would make maybe pound look...,11.767289,13.372503,32,0,1,0,0,1,1,1,1,1,1,2
1761,elizabeth,Elizabeth: a woman in her 40s,374,2002-02-13,I was at Kings Island with Daddy and three oth...,king island daddy three family member know thr...,13.936172,13.681853,452,2,7,2,2,4,5,4,5,11,6,2
1762,elizabeth,Elizabeth: a woman in her 40s,375,2002-02-14,I was asleep but experiencing extreme periodic...,asleep experience extreme periodic limb moveme...,14.000193,13.738955,1140,4,18,4,11,13,15,7,19,15,30,2
1763,elizabeth,Elizabeth: a woman in her 40s,376,2002-02-16,I was in the garage of a house. I went outside...,garage house go outside look address figure sa...,13.716951,13.366304,1336,7,9,6,8,7,11,2,11,17,25,2

# Separamos en train y test

In [30]:
X = all_df.iloc[:,5:-1]
y = all_df.iloc[:,-1]
print(X.shape,y.shape)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state = 42)
train_df = pd.concat([X_train, y_train], axis=1)
test_df = pd.concat([X_test, y_test], axis=1)
print(train_df.shape,test_df.shape)

(1764, 14) (1764,)
(1234, 15) (530, 15)

# Balanceamos las etiquetas de train

In [32]:
# Balanceo etiquetas de train
tags = train_df['target'].value_counts()
print(tags)

target
1    422
0    412
2    400
Name: count, dtype: int64

In [33]:
%pip install imblearn

Collecting imblearn
  Downloading imblearn-0.0-py2.py3-none-any.whl (1.9 kB)
Collecting imbalanced-learn (from imblearn)
  Downloading imbalanced_learn-0.11.0-py3-none-any.whl (235 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 235.6/235.6 kB 2.2 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: numpy>=1.17.3 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from imbalanced-learn->imblearn) (1.24.3)
Requirement already satisfied: scipy>=1.5.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from imbalanced-learn->imblearn) (1.11.0)
Requirement already satisfied: scikit-learn>=1.0.2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from imbalanced-learn->imblearn) (1.3.0)
Requirement already satisfied: joblib>=1.1.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from imbalanced-learn->imblearn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from imbalanced-learn->imblearn) (3.2.0)
Installing collected packages: imbalanced-learn, imblearn
Successfully installed imbalanced-learn-0.11.0 imblearn-0.0

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [35]:
from imblearn.under_sampling import RandomUnderSampler
rus = RandomUnderSampler(random_state=42)
X_rus, y_rus = rus.fit_resample(train_df.iloc[:,:-1], train_df['target'])
balanced_train = pd.concat([X_rus, y_rus], axis=1)
balanced_tags = balanced_train['target'].value_counts()
print(balanced_tags)

target
0    400
1    400
2    400
Name: count, dtype: int64

# Guardamos los datos

In [39]:
# Guardados
#all_df.to_csv("../data/processed/dreams_ages.csv")
balanced_train.to_csv("../data/processed/balanced_train.csv")
test_df.to_csv("../data/processed/test.csv")